//  Edit and copy this file to 'owner.js' and run `node utility/addowner.js`
//  from parent directory

let login,
    owner

login = `{
  "email": "owner@of.this.blog.com",
  "password": "imtheboss"
}`

owner = `{
  "handle": "TheBoss",
  "firstName": "The",
  "middleName": "Head",
  "lastName": "Honcho",
  "avatar": "/some/awesome/path/awesome.png"
}`

login = JSON.parse(login)
owner = JSON.parse(owner)

exports.newowner = { login,
                     owner }
