.nav-wrapper img {
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#avatar {
  height: 60px;
}

body .full-post {
  margin-bottom: 40px;
}
