MONGODB_URI=mongodb://username:password@localhost:27017/db
APP_SECRET=<add uuid here or similar>

BASELINK=http://localhost:3000/api
NEXT_PUBLIC_LOGINLINK=$BASELINK/login
NEXT_PUBLIC_REFRESHLINK=$BASELINK/refresh
NEXT_PUBLIC_LOGOUTLINK=$BASELINK/logout
NEXT_PUBLIC_POSTSLINK=$BASELINK/posts
NEXT_PUBLIC_POSTLINK=$BASELINK/post
NEXT_PUBLIC_STATICSLINK=$BASELINK/statics
NEXT_PUBLIC_STATICLINK=$BASELINK/static
